<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'main' %}">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for code, name in departures.items %}
            {% url 'departure' code as endpoint %}
            <li class="nav-item {% if endpoint == request.path %}active{% endif %}">
                <a class="nav-link" href="{{ endpoint }}">{{ name }} </a>
            </li>
            {% endfor %}

        </ul>
      </div>
    </nav>